div.conteiner {
    background-color: lightsalmon;

    display: flex;
    flex-flow: row wrap;
}

div.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    flex-basis: 150px;

}