div.conteiner {
    background-color: lightsalmon;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 400px;
}

div.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
}